<!-- <script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script> -->
<!DOCTYPE html>
<html>
  <head>
    <title>Mu App Landing Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body>
    <article id="page-wrapper">
      <header id="header">
        <div id="logo-div">
          <a href="#"><img id="header-img" src="https://cdn0.iconfinder.com/data/icons/mathematics-geometry/512/mu-greek-alphabet-letter-512.png" alt="mu greek alphabet letter logo" /></a>
        </div>
        <nav id="nav-bar">
          <ul id="main-nav">
            <li><a class="nav-link" href="#features-section">Features</a></li>
            <li><a class="nav-link" href="#how-it-works-section">How It Works</a></li>
            <li><a class="nav-link" href="#tier-section">Tiers</a></li>
          </ul>
        </nav>
      </header>
      <div class="container"></div>
      <main id="main-container">
        <section id="form-section">
          <h1>Work Mu Today</h1>
          <form id="form" action="https://www.freecodecamp.org/email-submit">
            <input name="email" id="email" type="email" placeholder="Enter your email address" required>
            <input id="submit" type="submit" value="Get Started" class="btn">
          </form>
        </section>
        <section id="features-section">
          <div class="features-grid">
            <div class="features-icon">
              <i class="fas fa-home fa-3x"></i>
            </div>
            <div class="features-desc">
              <h2>Work From Home </h2>
              <p>Morbi egestas, leo at pellentesque laoreet, erat tellus ullamcorper sem, et vulputate arcu tortor nec libero.</p>
            </div>
          </div>
          <div class="features-grid">
            <div class="features-icon">
              <i class="fas fa-phone-volume fa-3x"></i>
            </div>
            <div class="features-desc">
              <h2>What You Need</h2>
              <p>Proin rutrum, eros et. Phasellus vestibulum mollis viverra. </p>
            </div>
          </div>
          <div class="features-grid">
            <div class="features-icon">
              <i class="fas fa-money-bill-wave fa-3x"></i>
            </div>
            <div class="features-desc">
              <h2>Get Paid Weekly</h2>
              <p>Proin feugiat ut nibh at aliquet. Integer ipsum arcu, rhoncus in sapien eget, tincidunt aliquam sapien.</p>
            </div>
          </div>
        </section>
        <section id="how-it-works-section">
          <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/R7wOiOKol10" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        <section id="tier-section">
          <div class="tier-card">
            <div class="tier-title">Tier One</div>
            <h2>15 hours/week</h2>
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Etiam bibendum, ante in tincidunt</li>
              <li>Phasellus libero quam, ullamcorpe</li>
              <li>Quisque luctus justo at risus.</li>
            </ol>
            <button class="btn">Select</button>
          </div>
          <div class="tier-card">
            <div class="tier-title">Tier Two</div>
            <h2>25 hours/week</h2>
            <ol>
              <li>Mauris ut justo finibus, aliquam</li>
              <li>Pellentesque laoreet nulla odio, ac</li>
              <li>Fusce tincidunt urna libero, quis</li>
              <li>Aenean suscipit nisi eget varius</li>
              <li>Nullam ipsum diam, consectetur</li>
            </ol>
            <button class="btn">Select</button>
          </div>
          <div class="tier-card">
            <div class="tier-title">Tier Three</div>
            <h2>40 hours/week</h2>
            <ol>
              <li>Nunc a urna cursus sem</li>
              <li>Nulla ut mi volutpat, elementum</li>
              <li>Integer porta dui sed massa</li>
              <li>Duis eu leo vel sem</li>
              <li>Nullam iaculis et lacus a</li>
            </ol>
            <button class="btn">Select</button>
          </div>
        </section>
      </main>
      <footer id="footer">
        <ul>
          <li><a href="#" class="nav-link">Privacy</a></li>
          <li><a href="#" class="nav-link">Terms</a></li>
          <li><a href="#" class="nav-link">Contact</a></li>
        </ul>
        <span>Copyright 2018, Work Mu</span>
      </footer>
    </article>
  </body>
</html>
